<form [formGroup]="loginForm">
  <div class="form-group">
    <nz-form-item>
      <nz-form-label>Email</nz-form-label>
      <nz-form-control nzHasFeedback nzErrorTip="Email is required">
        <input nz-input formControlName="email" required />
      </nz-form-control>
    </nz-form-item>
  </div>
  <button nz-button nzType="primary" class="form-btn" (click)="login($event)">Login</button>
</form>
