.todo-item {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 70%;
  position: relative;
  background: #e3f7fb;

  &__remove-btn {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: #fff;

    &:hover {
      background: #fd1e1e;
      border: 1px solid transparent;
    }
  }

  &__edit-btn {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: #fff;
  }

  p {
    margin: 0 0 5px 0;
  }
}
