<div class="todo-item">
  <h3 class="todo-item__title">{{todoItem?.title}}</h3>
  <p class="todo-item__description">{{todoItem?.description}}</p>
  <span class="todo-item__edit-btn" nz-icon nzType="edit" nzTheme="outline" (click)="editTodoItem()"></span>
  <span class="todo-item__remove-btn" nz-icon nzType="delete" nzTheme="outline" (click)="onDeleteTodo()"></span>
</div>
