<div class="home-page">
  <h1>Todo List</h1>
  <button nz-button nzType="primary" class="create-btn" (click)="createTodoItem()">
    <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
  </button>
  <app-todo-list></app-todo-list>
</div>
