.edit-todo {
  margin: auto;
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading {
  text-align: center;
  border-radius: 4px;
  padding: 30px 150px;
  width: 100%;
  height: 100%;
}
