<div class="edit-todo">
  <h2>Edit Todo</h2>
    <div class="loading" *ngIf="loading">
      <nz-spin nzSimple></nz-spin>
    </div>
    <app-todo-form *ngIf="!loading" [defaultTodo]="defaultTodo" (saveTodo)="onSaveTodo($event)"></app-todo-form>
</div>
