<form nz-form class="todo-form" [formGroup]="form">
  <nz-form-item>
    <nz-form-label>Title</nz-form-label>
    <nz-form-control nzHasFeedback nzErrorTip="Input is required">
      <input nz-input formControlName="title" required />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Description</nz-form-label>
    <nz-form-control nzHasFeedback nzErrorTip="description">
      <textarea rows="10" nz-input formControlName="description"></textarea>
    </nz-form-control>
  </nz-form-item>
  <button nz-button nzType="primary" class="form-btn" (click)="onSubmit($event)">Save</button>
</form>
