.todo-form {
  width: 800px;
  padding: 20px;
  border-radius: 10px;
  background: #e3f7fb;

  input, textarea {
    width: 100%;
    border-radius: 5px;
    padding: 2px;
    text-indent: 10px;
  }

  .form-btn {
    margin-left: auto;
  }
}
